.img-item {
  position: relative;
  margin: 0 30px;
  user-select: none;
  cursor: pointer;
}

.image {
  margin: auto;
  width: 19rem;
  filter: drop-shadow(-3px -2mm 3mm rgb(63, 57, 65));
  z-index: -1;
}

.img-text {
  font-size: 3.3rem;
  font-weight: bold;
  z-index: 1;
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 30px;
  width: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  
}
